#profileTab {
    border-radius: 80px 0 0 0;
    width: 50%;
}

#savedTab {
    border-radius: 0 80px 0 0;
    width: 50%;
}

.tabGroup {
    text-align: center;
    padding-top: 20px;
    font-size: 13px;
}


.jumbotron, .jumbo {
    padding-bottom: 0px !important;
    background-color: #197278 !important;
    display: block;
    color: #EFFFFA;

  }

#user_photo {
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    #user_photo {
        border-radius: 50%;
        width: 200px;
        height: auto;
        display: table;
        margin: 0 auto;
        text-align: center;
    }
}

.prof {
    padding: 0 !important;
    /* margin: 5px; */
}

#tabs {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}