html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #EFFFFA;
  /* overflow: auto; */
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.navbar {
  background-color: #315659 !important;
  width: 100%;
  margin-bottom: 0px;
}



/* #davey-test { */
  /* box-sizing: border-box; */
  /* flex: 1 0 auto; */
/* } */

.jumbo-div {
  margin-bottom: 50px;
}



#height{
  width: 49%;
  margin-left: 1px;
  margin-right: 1px;
}

.add-panel,
.patient-panel,
.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.steppy {
  padding-left: 4px;
}