.delete.btn.btn-default  {
    background-color:transparent;
    color: #ff1744;
    font-size: 24px;
    font-style: italic;
    position: relative;
    top: -3px;
    right: 5px;
    cursor: pointer;
  }

  .save.btn.btn-default  {
    background-color:transparent;
    color: #096e19;
    font-size: 16px;
    position: relative;
    top: -3px;
    right: 5px;
    cursor: pointer;
  }

  .card {
    z-index: 1;
  }

  body { 
    padding: 40px; 
  }

.dropdown-toggle { 
  width: 100px;
  height: 20px;

}
.dropdown-menu {
  width: 500px;
}

.btn-group img {
  height: 80px;
  float: left;
}

.dropdown-menu>li>a:hover { 
  background: #f1f9fd 
} 

/* $search-blue */
.dropdown-header { 
  background: #ccc; font-size: 14px; font-weight: 700; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 5px 
}

.scrollable-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.card-holder {
  padding-top: 50px;
}
