/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #749541;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

/* .image-flip:hover .backside, */
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

/* .image-flip:hover .frontside, */
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    /* margin-bottom: 30px; */
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    height: 300px;
    width: 300px;
}

.backside .card a {
    text-decoration: none;
    color: #FFFFFF;
}

/* .frontside .card .card-title,
.backside .card .card-title {
    color: #2C3E50 !important;
} */



.flip-icon {
    color: #ffffff;
    position: absolute;
    bottom: 0px;
    right: 25px;
    background: black;
    opacity: .5;
    width: 25px;
}

a.recLink {
    text-decoration: none;
    color: white;
    text-overflow: ellipsis;
}

.card .text-center h4 {
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff !important;
    text-align: center;
    background: rgba(25, 25, 25, 0.5);
    border-bottom: 0;
}

.card-title {
    background-color: #2C3E50;
    color: white;
    font-size: 20px;
    height: 50px;
    overflow: hidden;
}

.notes {
    margin:10px;
}

.save-note,
.delete_recipe,
.get-recipe {
    text-decoration: none;
    margin: 0 auto;
    color: #FFFFFF;
    width:40%;
}

.delete-note {
    line-height:0.5;
    border: none;
    color: #ff1744;
    font-size: 30px;
    font-style: italic;
    float:right;
    background: transparent;
}

/* .saved-card, */
.card.text-center {
    background: #FFFFFF;
}

#cardDiv {
    position: relative;
}

svg.svg-inline--fa.fa-arrow-circle-right.fa-w-16.fa-2x.arrow-flip {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0px;
    color: #749541;
}

svg.svg-inline--fa.fa-arrow-circle-left.fa-w-16.fa-2x.arrow-flip {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0px;
    color: #2C3E50;
}
