.isbn {
    width: 10%;
  }
  
  .name{
    width: 20%;
  }
  
  .risk_factor {
    width: 20%;
  }
  
  .diet_recommendaton {
    width: 25%;
  }

  .diet_restriction {
    width: 25%;
  }

  .img-responsive {
    margin-right: 10px;
    margin-left: 10px;
    height: 100px;
  }

  