#user-thumb {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    padding: 2px;
}

.patients {
    text-align: center;
    color: #F3F0DD;
}

.user-info { 
    padding: 10px;
    color: #F3F0DD;
}

.main {
    margin-bottom: 200px;
}