
.bitmoji {
    width: 50px;
    height: auto;
}

.blah {
    width: 50% !important;
}

.hermanos,
.copy {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.icon,
.footnav {
    margin: 5px;
    color: white;
    text-align: center;
}

p.icon {
    font-size: 15px;
}

p.mission {
    text-decoration: none;
    padding: 5px;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 0 0 10px;
    background-color: #2C3E50;
    border-top: 5px solid #749541;
    color:white;
    font-size: 10px;
  }

@media screen and (max-width: 600px) {
    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 5px;
    }
}
