.carousel-inner {
    height: 100%;
}

#pic,
.graphButtons {
    display: table;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#pie {
    /* display: inline; */
    text-align: center;
    background-color: #749541;
    color: white;
    margin: 1px;
    width: 75px;
    padding: 2px;
}

@media screen and (max-width: 650px) {
    .carousel-inner {
        height: 700px;
    }
}

#recipe-info {
    text-align:center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#label {
    color:#749541;
}

.get-recipe,
.save-recipe {
    width: 125px;
    margin:auto;
}

.recipe-display {
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-item {
    background-color: #F3F0DD;
}

input,
select,
textarea,
form {
    width: 100%;
    padding-left: 0;
    margin: 0;
}

