#doctor_photo {
    background-size:cover;
    border-radius: 50%;
    border: 4px solid #2C3E50;
    width: 200px;
    height: 200px;
    text-align: center;
}

.add-patient {
    background-color: #2C3E50;
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    #doctor_photo {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        display: table;
        margin: 0 auto;
        text-align: center;
    }
    .about-doc {
        font-size: 24px;
    }
}

.prof {
    padding: 0 !important;
    margin-bottom: 0 !important;
}
