.navbar {
    background-color: #2C3E50;
    width: 100%;
    margin-bottom: 0px;
    border-bottom: 2px solid #EC0B43;
  }

.navbar.navbar-default .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}

.nav-item {
    color: white;
    float:right;
}

.home {
    margin-right: 5px;
}